In [1]:
import math

In [2]:
math.sqrt(25)

5.0

In [3]:
math.pi

3.141592653589793

In [4]:
import math as mt

In [5]:
mt.sqrt(25)

5.0

In [6]:
from numpy import random

In [7]:
import numpy as np

In [8]:
# uniform random numbers in [0,1]
dataOne = random.rand(5,5)

In [9]:
dataOne

array([[0.31738393, 0.3957243 , 0.21523991, 0.23608545, 0.67635675],
       [0.18778031, 0.71800495, 0.1969409 , 0.47117158, 0.55759529],
       [0.32227335, 0.35178443, 0.5819434 , 0.38884869, 0.70566112],
       [0.84603457, 0.11208269, 0.36856528, 0.07661209, 0.63530079],
       [0.24454126, 0.8651628 , 0.16075855, 0.70403689, 0.64717749]])

In [10]:
np.mean(dataOne)

0.43932267048130796

In [11]:
print('I Love data Science')

I Love data Science

In [12]:
variableName = 25

In [13]:
variableName1 = 'I Love data Science'

In [14]:
print(variableName1)

I Love data Science

In [15]:
type(variableName)

int

In [16]:
variableName = 25.0

In [17]:
type(variableName)

float

In [18]:
varOne = 25

In [19]:
varTwo = 25.0

In [20]:
varThree = varOne + varTwo

In [21]:
print(varThree)

50.0

In [22]:
varTwo = 'Hello'

In [25]:
varThree = str(varOne) + varTwo

In [26]:
print(varThree)

25Hello

In [27]:
listOne = [1,2,3,4]

In [28]:
print(listOne[1:3])

[2, 3]

In [29]:
tel = {'jack': 4098, 'sape': 4139}

In [30]:
tel['jack']

4098

In [31]:
sum_dic = {'uno': 1, 'dos': 2, 'tres': 3, 'cuatro': 4, 'cinco': 5}

In [35]:
sumas = sum(sum_dic.values())

In [36]:
print(sumas)

15

In [37]:
resta = sum_dic['cinco']-sum_dic['uno']-sum_dic['dos']

In [38]:
print(resta)

2

In [39]:
print(sum_dic['cinco']*sum_dic['dos'])

10

In [40]:
the_world_is_flat = True
if the_world_is_flat:
    print("Be careful not to fall off!")

Be careful not to fall off!

In [41]:
# this is the first comment
spam = 1  # and this is the second comment
          # ... and now a third!
text = "# This is not a comment because it's inside quotes."

In [42]:
2 + 2

4

In [43]:
8 / 5  # division always returns a floating point number

1.6

In [44]:
17 % 3  # the % operator returns the remainder of the division

2

In [45]:
width = 20
height = 5 * 9
width * height

900

In [46]:
4 * 3.75 - 1

14.0

In [47]:
tax = 12.5 / 100
price = 100.50
price * tax

12.5625

In [48]:
price + _

113.0625

In [49]:
round(_, 2)

113.06

In [50]:
'spam eggs'  # single quotes

'spam eggs'

In [51]:
'doesn\'t'  # use \' to escape the single quote...

"doesn't"

In [55]:
'Py' 'thon'

'Python'

In [56]:
text = ('Put several strings within parentheses '
        'to have them joined together.')
text

'Put several strings within parentheses to have them joined together.'

In [57]:
word = 'Python'
word[0]  # character in position 0

'P'

In [58]:
word[-6]

'P'

In [59]:
word[0:2]  # characters from position 0 (included) to 2 (excluded)

'Py'

In [60]:
word[:2] + word[2:]

'Python'

In [61]:
word[42]  # the word only has 6 characters

IndexError: string index out of range

In [63]:
cubes = [1, 8, 27, 65, 125]  # something's wrong here
4 ** 3  # the cube of 4 is 64, not 65!

64

In [64]:
cubes[3] = 64  # replace the wrong value
cubes

[1, 8, 27, 64, 125]

In [65]:
cubes.append(216)  # add the cube of 6
cubes.append(7 ** 3)  # and the cube of 7
cubes

[1, 8, 27, 64, 125, 216, 343]

In [66]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
letters

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [67]:
# replace some values
letters[2:5] = ['C', 'D', 'E']
letters

['a', 'b', 'C', 'D', 'E', 'f', 'g']

In [68]:
# Fibonacci series:
# the sum of two elements defines the next
a, b = 0, 1
while a < 10:
    print(a)
    a, b = b, a+b

0
1
1
2
3
5
8

In [69]:
i = 256*256
print('The value of i is', i)

The value of i is 65536

In [70]:
a, b = 0, 1
while a < 1000:
    print(a, end=',')
    a, b = b, a+b

0,1,1,2,3,5,8,13,21,34,55,89,144,233,377,610,987,

In [71]:
x = int(input("Please enter an integer: "))

Please enter an integer: 5

In [72]:
if x < 0:
    x = 0
    print('Negative changed to zero')
elif x == 0:
    print('Zero')
elif x == 1:
    print('Single')
else:
    print('More')

More

In [73]:
# Measure some strings:
words = ['cat', 'window', 'defenestrate']
for w in words:
    print(w, len(w))

cat 3
window 6
defenestrate 12

In [74]:
for i in range(5):
    print(i)

0
1
2
3
4

In [75]:
range(5, 10)

range(5, 10)

In [76]:
a = ['Mary', 'had', 'a', 'little', 'lamb']
for i in range(len(a)):
    print(i, a[i])

0 Mary
1 had
2 a
3 little
4 lamb

In [77]:
sum(range(4))  # 0 + 1 + 2 + 3

6

In [81]:
for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print(n, 'equals', x, '*', n//x)
            break
    else:
        # loop fell through without finding a factor
        print(n, 'is a prime number')

2 is a prime number
3 is a prime number
4 equals 2 * 2
5 is a prime number
6 equals 2 * 3
7 is a prime number
8 equals 2 * 4
9 equals 3 * 3

In [82]:
for num in range(2, 10):
    if num % 2 == 0:
        print("Found an even number", num)
        continue
    print("Found a number", num)

Found an even number 2
Found a number 3
Found an even number 4
Found a number 5
Found an even number 6
Found a number 7
Found an even number 8
Found a number 9

In [ ]:
while True:
    pass  # Busy-wait for keyboard interrupt (Ctrl+C)

In [83]:
def fib(n):    # write Fibonacci series up to n
    """Print a Fibonacci series up to n."""
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print()

In [84]:
# Now call the function we just defined:
fib(2000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597

In [85]:
fib
def fib(n):    # write Fibonacci series up to n
    """Print a Fibonacci series up to n."""
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print()
f = fib
f(100)

0 1 1 2 3 5 8 13 21 34 55 89

In [86]:
fib(0)
print(fib(0))

None

In [87]:
def fib2(n):  # return Fibonacci series up to n
    """Return a list containing the Fibonacci series up to n."""
    result = []
    a, b = 0, 1
    while a < n:
        result.append(a)    # see below
        a, b = b, a+b
    return result

f100 = fib2(100)    # call it
f100                # write the result

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [88]:
def ask_ok(prompt, retries=4, reminder='Please try again!'):
    while True:
        ok = input(prompt)
        if ok in ('y', 'ye', 'yes'):
            return True
        if ok in ('n', 'no', 'nop', 'nope'):
            return False
        retries = retries - 1
        if retries < 0:
            raise ValueError('invalid user response')
        print(reminder)

In [89]:
def parrot(voltage, state='a stiff', action='voom', type='Norwegian Blue'):
    print("-- This parrot wouldn't", action, end=' ')
    print("if you put", voltage, "volts through it.")
    print("-- Lovely plumage, the", type)
    print("-- It's", state, "!")

In [90]:
parrot(1000)                                          # 1 positional argument
parrot(voltage=1000)                                  # 1 keyword argument
parrot(voltage=1000000, action='VOOOOOM')             # 2 keyword arguments
parrot(action='VOOOOOM', voltage=1000000)             # 2 keyword arguments
parrot('a million', 'bereft of life', 'jump')         # 3 positional arguments
parrot('a thousand', state='pushing up the daisies')  # 1 positional, 1 keyword

-- This parrot wouldn't voom if you put 1000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !
-- This parrot wouldn't voom if you put 1000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !
-- This parrot wouldn't VOOOOOM if you put 1000000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !
-- This parrot wouldn't VOOOOOM if you put 1000000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !
-- This parrot wouldn't jump if you put a million volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's bereft of life !
-- This parrot wouldn't voom if you put a thousand volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's pushing up the daisies !

In [91]:
parrot()                     # required argument missing
parrot(voltage=5.0, 'dead')  # non-keyword argument after a keyword argument
parrot(110, voltage=220)     # duplicate value for the same argument
parrot(actor='John Cleese')  # unknown keyword argument

SyntaxError: positional argument follows keyword argument (<ipython-input-91-2ac707ad11c1>, line 2)

In [92]:
def cheeseshop(kind, *arguments, **keywords):
    print("-- Do you have any", kind, "?")
    print("-- I'm sorry, we're all out of", kind)
    for arg in arguments:
        print(arg)
    print("-" * 40)
    for kw in keywords:
        print(kw, ":", keywords[kw])

In [93]:
cheeseshop("Limburger", "It's very runny, sir.",
           "It's really very, VERY runny, sir.",
           shopkeeper="Michael Palin",
           client="John Cleese",
           sketch="Cheese Shop Sketch")

-- Do you have any Limburger ?
-- I'm sorry, we're all out of Limburger
It's very runny, sir.
It's really very, VERY runny, sir.
----------------------------------------
shopkeeper : Michael Palin
client : John Cleese
sketch : Cheese Shop Sketch

In [94]:
def standard_arg(arg):
    print(arg)

def pos_only_arg(arg):
    print(arg)

def kwd_only_arg(arg):
    print(arg)

def combined_example(pos_only, standard, kwd_only):
    print(pos_only, standard, kwd_only)

In [95]:
standard_arg(2)

2

In [96]:
standard_arg(arg=2)

2

In [97]:

def pos_only_arg(arg):
    print(arg)

In [98]:
pos_only_arg(1)

1

In [99]:
def write_multiple_items(file, separator, *args):
    file.write(separator.join(args))

In [100]:
def concat(*args, sep="/"):
    return sep.join(args)

concat("earth", "mars", "venus")
'earth/mars/venus'
concat("earth", "mars", "venus", sep=".")
'earth.mars.venus'

'earth.mars.venus'

In [101]:
list(range(3, 6))            # normal call with separate arguments

[3, 4, 5]

In [102]:
args = [3, 6]
list(range(*args))            # call with arguments unpacked from a list

[3, 4, 5]

In [103]:
def parrot(voltage, state='a stiff', action='voom'):
    print("-- This parrot wouldn't", action, end=' ')
    print("if you put", voltage, "volts through it.", end=' ')
    print("E's", state, "!")

d = {"voltage": "four million", "state": "bleedin' demised", "action": "VOOM"}
parrot(**d)

-- This parrot wouldn't VOOM if you put four million volts through it. E's bleedin' demised !

In [104]:
pairs = [(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]
pairs.sort(key=lambda pair: pair[1])
pairs

[(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')]

In [105]:
def my_function():
    """Do nothing, but document it.

    No, really, it doesn't do anything.
    """
    pass

print(my_function.__doc__)

Do nothing, but document it.

    No, really, it doesn't do anything.

In [106]:
def f(ham: str, eggs: str = 'eggs') -> str:
    print("Annotations:", f.__annotations__)
    print("Arguments:", ham, eggs)
    return ham + ' and ' + eggs

f('spam')

Annotations: {'ham': <class 'str'>, 'eggs': <class 'str'>, 'return': <class 'str'>}
Arguments: spam eggs

'spam and eggs'

In [107]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
fruits.count('apple')

2

In [108]:
fruits.index('banana')

3

In [109]:
fruits.index('banana', 4)  # Find next banana starting a position 4

6

In [110]:
fruits.reverse()
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

In [111]:
from collections import deque
queue = deque(["Eric", "John", "Michael"])
queue.append("Terry")           # Terry arrives
queue.append("Graham")          # Graham arrives
queue.popleft()                 # The first to arrive now leaves

'Eric'

In [112]:
queue.popleft()                 # The second to arrive now leaves

'John'

In [113]:
queue                           # Remaining queue in order of arrival

deque(['Michael', 'Terry', 'Graham'])

In [114]:
squares = []
for x in range(10):
    squares.append(x**2)

squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [115]:
squares = list(map(lambda x: x**2, range(10)))

In [116]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [117]:
squares = [x**2 for x in range(10)]

In [118]:
vec = [-4, -2, 0, 2, 4]
# create a new list with the values doubled
[x*2 for x in vec]

[-8, -4, 0, 4, 8]

In [119]:
# call a method on each element
freshfruit = ['  banana', '  loganberry ', 'passion fruit  ']
[weapon.strip() for weapon in freshfruit]

['banana', 'loganberry', 'passion fruit']

In [120]:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
]

In [121]:
[[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [122]:
transposed = []
for i in range(4):
    transposed.append([row[i] for row in matrix])

transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [123]:
for i in range(4):
    # the following 3 lines implement the nested listcomp
    transposed_row = []
    for row in matrix:
        transposed_row.append(row[i])
    transposed.append(transposed_row)

transposed

[[1, 5, 9],
 [2, 6, 10],
 [3, 7, 11],
 [4, 8, 12],
 [1, 5, 9],
 [2, 6, 10],
 [3, 7, 11],
 [4, 8, 12]]

In [124]:
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']
for q, a in zip(questions, answers):
    print('What is your {0}?  It is {1}.'.format(q, a))

What is your name?  It is lancelot.
What is your quest?  It is the holy grail.
What is your favorite color?  It is blue.

In [125]:
import math
raw_data = [56.2, float('NaN'), 51.7, 55.3, 52.5, float('NaN'), 47.8]
filtered_data = []
for value in raw_data:
    if not math.isnan(value):
        filtered_data.append(value)

filtered_data

[56.2, 51.7, 55.3, 52.5, 47.8]

In [126]:
string1, string2, string3 = '', 'Trondheim', 'Hammer Dance'
non_null = string1 or string2 or string3
non_null

'Trondheim'